:root{
    --primary: #AEFF56;
    --secondary: #5C8D34;
    --tertiary: #0b120e;
    --black: #020202;
    --white: #F1F1F1;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--black);
    font-family: 'Oopen Sans', sans-serif;
    color: var(--white);
}
h1,h2,h3{
    margin: 0;
}
h1{
    font-size: 5rem;
    font-family: 'Outfit';
    font-weight: 700;
}
h2{
    font-size: 3rem;
    font-family: 'Outfit';
    font-weight: 600;
}
h3{
    font-size: 2.5rem;
    font-family: 'Outfit';
    font-style: italic;
    font-weight: 400;
}
p{
    font-size: 1.2rem;
    font-family: 'Open Sans';
    font-weight: 400;
}
ul{
    margin: 0;
    padding: 0;
}
.main{
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Nav Section*/

nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    min-height: 5rem;
}
.nav-brand{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-family: 'Outfit';
    font-weight: 700;
    padding: 1rem;
}
.nav-brand .logo-icon{
    font-size: 3rem;
    margin-right: .2rem;
    color: var(--primary);
}
.navbar-links{
    list-style: none;
    display: none;

}
.navbar-links.active{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.navbar-links li{
    font-size: 1.3rem;
    font-family: 'Open Sans';
    padding: .5rem;
}
.navbar-links a{
    color: var(--white);
    text-decoration: none;
}
.navbar-links a:hover{
    color: var(--primary);
}
.toggle-button{
    width: 30px;
    height: 23px;
    position: absolute;
    top: 1.7rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.toggle-button .bar{
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background-color: var(--primary);
}

/*Banner Section*/

.banner{
    background-image: url(./images/Banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: soft-light;
    min-height: 550px;
}
.banner .content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding: 10rem 2rem 4rem;
}
.banner h1{
    margin: 3rem 0rem;
}
.banner .cta-button{
    background-color: var(--primary);
    padding: 1rem 2rem;
    color: var(--black);
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Outfit';
    transition: all .2s ease-in-out;
}
.banner .cta-button:hover{
    background-color: var(--secondary);
    color: var(--primary);
}
/*main content start*/

/*two columns*/
.alternating-columns{
    margin-top: 2rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1800px;
}
.spotlight,
.experiences,
.next-steps{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.spotlight h2 ,
.experiences h2,
.next-steps h2{
    margin-bottom: 2rem;
    border-bottom: 2px solid var(--white);
    padding-bottom: 1rem;
}
.spotlight .img-container,
.experiences .img-container,
.next-steps .img-container{
    margin-bottom: 2rem;
    width: 100%;
    max-width: 800px;
    max-height: 400px;
    overflow: hidden;
}
.spotlight img,
.experiences img,
.next-steps img{
    width: 100%;
}
.spotlight h3,
.experiences h3,
.next-steps h3{
    margin-bottom: 1rem;
}

/*Events*/






/*Media Queries*/
@media (min-width: 800px){
    .toggle-button{
        display: none;
    }
    nav{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-right: 1rem;
    }
    .navbar-links{
        display: flex;
        flex-direction: row;
    }
    .navbar-links li{
        padding: 0rem 3rem;
        text-align: center;
        display: block;
    }
}
@media (min-width: 1000px){
    .experiences{
        align-self: flex-end;
        text-align: right;
    }
    .experiences h3,
    .experiences p{
        text-align: left;
    }
    .spotlight .content,
    .experiences .content,
    .next-steps .content{
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
    }
    .experiences .content{
        flex-direction: row-reverse;
    }
    .spotlight .text-container,
    .next-steps .text-container{
        padding-left: 2rem;
    }
    .experiences .text-container{
        padding-right: 2rem;
    }
}

